{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}其他{% endblock title %}

{% block spec_css %}

<style type="text/css">
body{
		font-family: "微软雅黑";
		background-color: #f5f5f5;
		padding-top:50px;
}
.more_other{
width:150px;
}
.more_other li{
display:block;
float:left;
list-style:none;
background-color:white;
margin-bottom:5px;
height:30px;
line-height:30px;
width:150px;
}
.more_other li a{
text-decoration:none;
color:#777;
display:block;
margin:0 auto;
width:70px;
cursor: default;
}


.others{
height:500px;
background-color:white;
margin-bottom:30px;
color:#777;
padding-top:10px;
display:none;
}
.others h3{
display:block;
margin:0 auto;
word-spacing:normal;
width:100px;
color:black;
padding-bottom:20px;
}
.ever_wrap{
width:300px;
margin:0 auto;
}
#{{ label }}{
display:block;
}
#more_{{ label }}{
				background-color: orange;
}
#more_{{ label }} a{
				color: white;
}
#contact li{
list-style:none;
}
.row{
				margin-left: 0;
				margin-right: 0;
}
.back{
position: relative;
padding: 5px;
background-color: white;
border-top: 1px solid #eee;
}
.reponse{
position: relative;
padding: 5px;
background-color: white;
clear: both;
}
.back p，.reponse p{
padding: 10px 10px 0;
}
.back_footer,.reponse_footer{
display: block;
float: right;
}

#feedback{
				height: auto;
}
</style>
{% endblock spec_css %}


{% block body %}
<div class="row">
        <div class="hidden-xs col-md-10 col-sm-12 col-md-offset-5 more_other">
            <ul>
						<li id="more_help" title="help"  class="col-xs-60 col-md-60 col-sm-60 ">
                    <a><span>>帮助</span></a></li>
                <li id="more_about" title="about" class="col-xs-60 col-md-60 col-sm-60 ">
				          	<a><span>>关于</span></a> </li>
                <li id="more_contact" title="contact" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>>联系我们</span></a> </li>
                <li id="more_recruit" title="recruit" class="col-xs-60 col-md-60 col-sm-60 ">
                    <a><span>>招贤纳士</span></a></li>
                <li id="more_cooperation" title="cooperation" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>>业务合作</span></a> </li>
                <li id="more_feedback" title="feedback" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>>问题反馈</span></a> </li>
            </ul>
        </div>
				<div class="col-md-40 col-sm-40 col-xs-60 col-xs-offset-5 col-md-offset-5 col-sm-offset-8 ">
            <div id="help" class="others col-md-40 col-sm-40 col-xs-50" >
                 <h3>帮助</h3>
                 <div class="ever_wrap">
                     <h4>Q1 如何进行交易？</h4>
                     <ol>
                        <li>找到中意的物品，利用留言功能或者下方联系啊方式询问更详细的内容</li>
                        <li>找到主人，直接当面交易</li>
                        <li></li>
                     </ol>
                     <h4>Q2 如何进行以物易物？</h4>
                     <ol>
                        <li>找到中意的物品，利用留言功能或者下方联系啊方式询问更详细的内容</li>
                        <li>找到主人，直接当面交易</li>
                        <li></li>
                     </ol>
                     <h4>Q3 图片上传失败的原因？</h4>
                     <ol>
                        <li>你没登陆</li>
                        <li>你的图片太大了</li>
                        <li>你的图片格式不支持</li>
                        <li>图片上传太多</li>
                        <li>系统出现位置BUG，请联系后台维护人员</li>
                     </ol>
                </div>
            </div>
						<div id="about" class="others col-md-40 col-sm-40 col-xs-50">
                 <h3>关于</h3>
                 <div class="ever_wrap">
                 </div>
            </div>
						<div id="contact" class="others col-md-40 col-sm-40 col-xs-50" >
                <h3>联系我们</h3>
                <div class="ever_wrap">
                <p>如果让有任何问题请联系我们，联系方式：</p>
                   <ul>
                    <li>QQ群463514269</li>
                    <li>support@newnius.com</li>
                    <li>inner.roe.deer@gmail.com</li>
                    <li>470957988@qq.com</li>
                   </ul>
                </div>
            </div>
						<div id="recruit" class="others col-md-40 col-sm-40 col-xs-50" >
                <h3>招贤纳士</h3>
                <div class="ever_wrap">
                  <p>我们招下一代的前端和后台开发</p>
                </div>
            </div>
						<div id="cooperation" class="others col-md-40 col-sm-40 col-xs-50" >
                <h3>业务合作</h3>
                <div class="ever_wrap">
                  <p>我们欢迎学校各社团与我们合作</p>
                </div>
            </div>
            <div id="feedback" class="others col-md-40 col-sm-40 col-xs-50">            
                <h3 style="margin-top: 10px; margin-bottom: 10px; padding-bottom: 0px;">问题反馈</h3>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-58 col-ms-offset-1 col-sm-offset-1 col-sm-58 " style="padding:0; background-color:white;">
																		<div id="err_info" class="text-center" style="color: red;" hidden></div>
                                    <form>
                                        <textarea id="content" placeholder="有什么建议或意见，或者想吐槽，都可以发表" class="text col-md-58 col-sm-58 col-xs-58" style="border:1px solid orange; border-radius:3px; height:100px; margin-left:5px;" ></textarea><br>
                                        <button id="submit" type="button" class="btn btn-lg" style="background-color: orange;color: white;padding: 3px 5px;border-radius: 3px;margin-top: 10px; margin-right:15px;margin-bottom: 5px; float:right">提交反馈</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row"> 
																{% for f in feedback %}
                                <div class="back  col-md-58 col-ms-offset-1 col-sm-offset-1 col-sm-58 col-xs-58" style="margin-bottom: 5px;">
																		<p style="margin-bottom: 20px;word-break: break-all">{{ f.user_content }}</p>
                                     <div>
																		 <span class="small">{{ f.user_pub_date }}</span>
																		 {% if not f.user %}
																			<p class="pull-right small">匿名者</p>
																			{% else %}
																			<a class="pull-right small" href="{% url 'ucenter' %}?uid={{ f.user.id }}" target="_blank">{{ f.user.name }}</a>
																			{% endif %}
                                     </div>
                                </div>
																{% if f.admin_content %}
                                <div class="reponse  col-md-58 col-ms-offset-1 col-sm-offset-1 col-sm-58 col-xs-58">
																		 <p style="margin-bottom: 20px;word-break: break-all">{{ f.admin_content }}</p>
                                     <div>
																		 <span class="small">{{ f.admin_pub_date }}</span>
																			<span class="pull-right small">管理员</span>
                                     </div>
                                </div>
																{% endif %}
																{% endfor %}
                            </div>
            </div>
       </div>
</div>


<script>

$(function(){
				$('#submit').click(function(){
								var content = $('#content').val();
								$('#err_info').attr('hidden','hidden');
								if(content==''){
								  $('#err_info').html('<p>好歹提交点东西吧，同学</p>');
									$('#err_info').removeAttr('hidden');
									return false;
								}
								if(content.length>500){
								  $('#err_info').html('<p>内容太长，请确保在500个字符以内</p>');
									$('#err_info').removeAttr('hidden');
									return false;
								}

								var ajax = $.ajax({
												url:'/service/feedback/',
												type:'POST',
												data:{
																content: content,
												}
								});

								ajax.done(function(msg){
												if(msg=='true'){
																window.location.href = "{% url 'about' %}?label=feedback";
												}else{
																$('#err_info').html('<p>提交失败，请确保内容在500个字符以内</p>');
																$('#err_info').removeAttr('hidden');
												}

									return true;
								});

								ajax.fail(function(msg){
								  $('#err_info').html('<p>提交失败，服务器出错</p>');
									$('#err_info').removeAttr('hidden');
									return true;
								});

				});
})

//切换标签页面
	window.onload=function(){
		var others=document.getElementsByClassName("others");
		moreother=document.getElementsByClassName("more_other")[0],
		oli=moreother.getElementsByTagName("li"),
		oa=moreother.getElementsByTagName("a");
		for(var i=0;i<oli.length;i++){
		 oli[i].addEventListener("click",function(){
			 var That=this.title;
			 T=document.getElementById(That);
			 for(var i=0;i<oli.length;i++){
			 oli[i].style.backgroundColor="white";
			 oa[i].style.color="#777";
					}
			 for(var j=0;j<others.length;j++){
			  others[j].style.display="none";
			   }
			 T.style.display="block";
			 this.style.backgroundColor="orange";
			 this.getElementsByTagName("a")[0].style.color="white";
		  },false)
	   }

 }
		
</script>
{% endblock body %}
