{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}个人中心{% endblock title %}

{% block spec_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iconfont.css' %}">
{% endblock spec_css %}

{% block body %}
{% if not user %}
<div class="container" >
				<h1>你还未登陆，请先登陆</h1>
</div>
{% else %}
<div class="container" >
	<div class="row">
        <div class="col-md-10 col-sm-20 menu_list hidden-xs">
            <ul id="personal_data" >
                <li id="person_info" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>个人信息</span></a></li>
                <li id="change-password" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>修改密码</span></a> </li>
                <li id="messages" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>站内信</span></a> </li>
                <li id="my-items" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>我的宝贝</span></a> </li>
                <!--<li id="my_collect" class="col-xs-60 col-md-60 col-sm-60 ">-->
					<!--<a><span>我的收藏</span></a></li>-->
                <li id="logout" class="col-xs-60 col-md-60 col-sm-60 ">
					<a><span>退出登录</span></a> </li>
            </ul>
        </div>
        <div class="col-xs-60 col-md-10 col-sm-20 menu_list menu_list1" id="instead" style="display:none;">
            <ul >
                <li id="personal_information" class="col-xs-60 col-md-60 col-sm-60 ">
                 <img src="{% static 'image/personal_information.png' %}">
								 <a href="{% url 'mobile_person_info' %}">个人信息</a><span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span></li>
                <li id="change_psw" class="col-xs-60 col-md-60 col-sm-60 ">
                 <img src="{% static 'image/psw.png' %}">
								 <a href="{% url 'mobile_change_password' %}">修改密码</a><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></li>
                <li id="message" class="col-xs-60 col-md-60 col-sm-60 ">
                 <img src="{% static 'image/message.png' %}">
								 <a href="{% url 'mobile_messages' %}">站内信</a><span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span></li>
                <li id="my_product_moblie" class="col-xs-60 col-md-60 col-sm-60 ">
                 <img src="{% static 'image/myproduct.png' %}">
								 <a href="{% url 'mobile_my_items' %}">我的宝贝</a><span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span></li>
                <!--<li id="my_collect_mobile" class="col-xs-60 col-md-60 col-sm-60 ">-->
                 <!--<img src="{% static 'image/mycollect.png' %}">-->
					<!--<a href="my_collect_mobile.html">我的收藏</a><span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span></li>-->
                <li id="user_exit" class="col-xs-60 col-md-60 col-sm-60 ">
                 <img src="{% static 'image/personal_information.png' %}">
								 <a href="{% url 'mobile_logout' %}">退出登录</a><span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span></li>
            </ul>
        </div>

     <!-- 4:3 aspect ratio -->
            <div class="col-md-40 col-sm-35 hidden-xs">
										<!--<div class="embed-responsive embed-responsive-4by3 " >-->
										<div>
										<!--<iframe id="frame1" class="embed-responsive-item col-sm-30" src="/frames/{{ frame_url }}"></iframe>-->
										{% include 'frames/change_password.html' %}
										</div>
            </div>
    </div>
</div>

        <script>  
			$(function() {

				  $(window).scroll(function() {
					  var top = $(this).scrollTop();
					  var flowSearch = $("#flowSearchForm");
					  if (top < 36) {
						  flowSearch.css("display", "none");
					  } else {
						  flowSearch.css("display", "block");
					  }
				  });
			  });
			
			
			setInterval(function transfer(){
			 var width=document.documentElement.clientWidth || document.body.clientWidth;
			 var oNAV= document.getElementById("NAV");
			
					  if (width<750) {
						  oNAV.style.display="block";
					  } else {
						  oNAV.style.display="none";
					  }
			},10);
			setInterval(function transfer(){
			 var width=document.documentElement.clientWidth || document.body.clientWidth;
			 var oinstead= document.getElementById("instead");
			
					  if (width<750) {
						  oinstead.style.display="block";
					  } else {
						  oinstead.style.display="none";
					  }
			},10);

var personal_data=document.getElementById("personal_data");
var alis=personal_data.getElementsByTagName("li");
var ifa= document.getElementsByTagName("iframe");
    for(var i=0;i<alis.length;i++){
           alis[i].addEventListener('click',function(){
									 ifa[0].src = '/frames/' + this.id;
		},false);
}


</script>

{% endif %}
{% endblock body %}
