{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}修改密码{% endblock title %}

{% block spec_css %}
<style>
        body{
            font-family: "微软雅黑";
            background-color: #f5f5f5;
            margin-top:50px;
        }
#change_psw{
padding-top:2px;
padding-left:40px;
background-color:white;
}
.form-control,.input-group-addon{
border:1px solid orange;
}
.bt{
background-color:orange;
color:white;
}

#back a{
color:#000;
}
#back a:hover{
text-decoration:none;
}

	.foot{
		margin-top: 10px;
		text-align: center;
		vertical-align: middle;
		border-radius: 2px;
		background-color: #f5f5f5;
	}
	footer a:link {
		color: #999999;
	}
	footer a:hover {
		color: #999999;
	}
	footer a:visited {
		color: #999999;
		text-decoration: none;
	}
	footer a:active {
		color: #999999;
	}

</style>
{% endblock spec_css %}

{% block body %}
<div class="container" >
    <h5 id="back"><a href="personal_center.html"  >个人中心</a>>修改密码</h5>
	<div class="row" >

           <div class="content_information col-xs-56 col-xs-offset-2" id="change_psw">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="current_pwd" class="col-sm-10   control-label">当前密码</label>
                        <div class="col-sm-20 col-xs-40 input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="color: #ff6600;"></span></div>
                            <input type="password" class="form-control" id="current_pwd" name="current_pwd" placeholder="请输入当前密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_pwd" class="col-sm-10  control-label">新密码</label>
                        <div class="col-sm-20 col-xs-40 input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="color: #ff6600;"></span></div>
                            <input type="password" class="form-control" id="new_pwd" name="new_pwd" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_pwd_again" class="col-sm-10  control-label">确认密码</label>
                        <div class="col-sm-20 col-xs-40 input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="color: #ff6600;"></span></div>
                            <input type="password" class="form-control" id="new_pwd_again" name="new_pwd_again" placeholder="请再次输入新密码">
                        </div>
                    </div>
                    <button type="submit"  class="btn bt col-sm-offset-8" >确认修改</button>
                </form>
            </div>



    </div>
	
        <footer class="foot" style="text-align: center; color:#999999;">
            <div id="footer">
                <span class="copyright-text">
                ©2016&nbsp;
                <a href="http://www.jluewu.com" target="_blank">吉大易物网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="http://www.miibeian.gov.cn/" target="_blank" rel="external nofollow">吉ICP备15002340</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="help.php">帮助</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="feedback.php">问题反馈</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="help.php#qid-6">联系我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="help.php#qid-1">关于</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">友情链接</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">站长统计</a>
                </span>
            </div>
        </footer>
    
</div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" >  
			$(function() {
				  $(window).scroll(function() {
					  var top = $(this).scrollTop();
					  var flowSearch = $("#flowSearchForm");
					  if (top < 36) {
						  flowSearch.css("display", "none");
					  } else {
						  flowSearch.css("display", "block");
					  }
				  });
			  });
			
			
			setInterval(function transfer(){
			 var width=document.documentElement.clientWidth || document.body.clientWidth;
			 var oNAV= document.getElementById("NAV");
			
					  if (width<750) {
						  oNAV.style.display="block";
					  } else {
						  oNAV.style.display="none";
					  }
			},10);
</script>

{% endblock body %}
