{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}物品详情{% endblock title %}
{% block spec_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
<style>
        .remark{
          position: relative;
          padding: 10px;
          border:1px solid #eee;
          background-color: white;
          margin-bottom: 10px;
        }
        .remark p{
          padding: 10px 10px 0;
        }
        .remark_footer{
          position: absolute;
          right:20px;
          bottom: 0;
        }
        .remark_footer span{
          margin-right: 20px;
        }
</style>
{% endblock spec_css %}

{% block body %}
  <div class="container" >
    <div class="row">
        <div id="pic" class=" col-md-30 col-sm-30 col-xs-60 ">
          <div class=" col-md-60 col-xs-60 ">
            <a class="thumbnail">
										<img id="tar" src="{% get_media_prefix %}{{ item.big_img }}" alt="...">
            </a>
          </div>

         <div id="select">
							{% for big_img in big_imgs %}
              <li class="col-md-15 col-xs-15">
                <a  class="sel">
					<img src="{% get_media_prefix %}{{ big_img }}"alt="..." >
                </a>
              </li>
							{% endfor %}
                 
         </div>  
       </div>


        <div class="col-md-30 col-sm-30  col-xs-60" style="background-color:white; padding-top:10px; padding-right:0;">
								<p><b><span class="product-name" id="product_name">{{ item.name }}</span></b></p>
								<p>估价：<span class="product-price" id="product_price">￥{{ item.price }}<span></p>
								{% if not item.purpose == '3' %}
								<p>新旧：<span class="product-newOrOld" id="product_newOrOld">{{ item.condition }}成新</span></p>
								{% endif %}
								<p>标签：<span class="product-tag">{{ item.get_campus_display }}</span><span class="product-tag">{{ item.get_category_display }}</span><span class="product-tag">{{ item.get_purpose_display }}</span></p>
								<p>主人：<a class="product-seller" id="product_seller" href="{% url 'ucenter' %}?uid={{ item.owner.id }}" target="_blank" style="color:#000;"><strong>{{ item.owner.name }}</strong></a></p>
								{% if item.phone %}<p>电话：<span class="product-sellerPhone" id="product_sellerPhone">{{ item.owner.phone }}</span>{% endif %}
								{% if item.qq %}<p> QQ: <span>{{ item.qq }}</span></p>{% endif %}
            <p style="display:inline-block;color: #ffffff;background-color: orange;padding: 3px 5px;border-radius: 3px;">详细描述</p>
            <div id="product_detail">{{ item.content }}</div>
            <!--<p style="margin-top: 10px;position: relative;">-->
            <!--<a href="">-->
            <!--<span class="glyphicon glyphicon-heart" aria-hidden="true" style="position: relative;color: #ff0000;font-size: 20px;top: 4px;"></span>-->
            <!--<strong>&nbsp;收藏宝贝</strong>-->
            <!--</a>-->
            </p>
        </div>
    </div>
    <!--新加内容-->
		<div class="row"> 
				{% if comments %}
				<div class="col-md-13 col-sm-12 hidden-xs" style="background-color:white; padding:0; margin-bottom:20px;">
				<p style="background-color: orange;color: #ffffff;padding: 3px 5px;font-size: 18px; ">猜你喜欢</p>
						<a href="{% url 'detail' %}?pid={{ recommand_item.id }}"><img src="{% get_media_prefix %}{{ recommand_item.small_img }}"  style="width: 100%; height:240px; padding:0 10px 10px 10px;"></a>
				</div>         
				{% endif %}
				{% for comment in comments %}
				{% if forloop.counter0 >= 4 %}
				<div id="comment_{{ comment.id }}" class="remark  col-md-45 col-md-offset-15 col-sm-offset-15 col-sm-45 col-xs-60">
				{% else %}
				<div id="comment_{{ comment.id }}" class="remark  col-md-45 col-md-offset-2 col-sm-offset-3 col-sm-45 col-xs-60">
				{% endif %}
					 <a href="{% url 'ucenter' %}?uid={{ comment.comment_from.id }}" target="_blank">{{ comment.comment_from.name }}</a>
					 <p>{{ comment.content }}</p>
					 <div class="remark_footer">
									 <p class="remark_time">{{ comment.pub_date }}</p>
					 </div>
				</div>
				{% endfor %}
		</div>
    <!--新加内容完-->
    <div class="row" style="margin-top:20px;">
				{% if not comments %}
        <div class="col-md-13 col-sm-12 hidden-xs" style="background-color:white; padding:0; margin-bottom:20px; height:302px; ">
            <p style="background-color: orange;color: #ffffff;padding: 3px 5px;font-size: 18px; border-radius:4px">猜你喜欢</p>
						<a href="{% url 'detail' %}?pid={{ recommand_item.id }}"><img src="{% get_media_prefix %}{{ recommand_item.small_img }}"  style="width: 100%; height:240px; padding:0 10px 10px 10px;"></a>
        </div>
        <div class="col-md-2 col-sm-3"></div>
				{% else %}
        <div class="col-md-15 col-sm-15"></div>
				{% endif %}
        <div class="col-md-45 col-sm-45 " style="padding:0; background-color:white; height:302px;">
            <p style="background-color: orange;color: #ffffff;padding: 3px 5px;font-size: 18px; border-radius:4px">留言</p>
						<div id="err_info" class="text-center" style="color: red;" hidden ></div>
										<textarea id="comment" {% if not user %}placeholder="留言请先登陆" readonly {% endif %} class="text col-md-58 col-xs-56" style="border:1px solid orange; border-radius:4px; margin-left:15px; height:209px;" ></textarea><br>
										<button id="submit_commit" type="button" class="btn  pull-right" {% if not user %} disabled {% endif %} style="background-color: orange;color: white;padding: 5px 5px;margin: 10px;border-radius: 3px;margin-top: 10px;">提交留言</button>
        </div>
    </div>

</div>      
<script type="text/javascript" >  
			$(function() {

							$('#submit_commit').click(function(){
											var comment = $('#comment').val();
											var err_info = $('#err_info');
											err_info.attr('hidden', 'hidden');
											if(comment==''){
															err_info.html('<p>留言不能为空!</p>');
															err_info.removeAttr('hidden');
															return false;
											}
											if(comment.length>200){
															err_info.html('<p>留言太长，请控制在200字以内!</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											var ajax = $.ajax({
															url: '/service/comment/',
															type: 'post',
															data: {
																			pid: {{ item.id }},
																			comment: comment,
															}
											});

											ajax.done(function(msg){
															if(msg=='true'){
																			window.location.reload(true);
															}else{
																			err_info.html('<p>留言提交失败!</p>');
																			err_info.removeAttr('hidden');
																			return false;
															}
											});

											ajax.fail(function(msg){
															err_info.html('<p>留言提交失败!</p>');
															err_info.removeAttr('hidden');
															return false;
											});


							})




				  $(window).scroll(function() {
					  var top = $(this).scrollTop();
					  var flowSearch = $("#flowSearchForm");
					  if (top < 36) {
						  flowSearch.css("display", "none");
					  } else {
						  flowSearch.css("display", "block");
					  }
				  });
			  });
			
			
			setInterval(function transfer(){
			 var width=document.documentElement.clientWidth || document.body.clientWidth;
			 var oNAV= document.getElementById("NAV");
			
					  if (width<750) {
						  oNAV.style.display="block";
					  } else {
						  oNAV.style.display="none";
					  }
			},10);
//改变图片在移动端高度
			setInterval(function (){
             var width=document.documentElement.clientWidth || document.body.clientWidth;
             var osel= document.getElementsByClassName("sel");
             for(var i=0;i<osel.length;i++){
                   if(width<750){
                  osel[i].getElementsByTagName("img")[0].style.height="60px";
                        }
                  else{
                  osel[i].getElementsByTagName("img")[0].style.height="117px";
                   }
                  }          
			},10);
//点击换图片
window.onload=function(){
      var otar=document.getElementById("tar"), 
          oselect=document.getElementById("select"),
          ali=oselect.getElementsByTagName("li");
     for(var i=0;i<ali.length;i++) {
      ali[i].addEventListener('click', function() {
          var This=this.getElementsByTagName("img")[0];
          otar.src=This.src;
           
      }, false);
}
}
</script>
{% endblock body %}
