{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}找回密码{% endblock title %}

{% block spec_css %}
	<style>
     body{
        font-family: "微软雅黑";
        background-color: #f5f5f5;
        padding-top:50px;
            }
    #forget{
    margin:0 auto;
    width:300px;
    padding-top:75px;
    }
    .sign_forget{
        max-width: 480px;
        height:300px;
        background: #FFF;
        margin: 3em auto 4em;
     }
#forget span{
font-size:20px;
display:block;
font-weight:bold;
}
#forget input{
border:1px solid orange;
border-radius:4px;
width:300px;
margin-top:20px;
display:block;
height: 33px;
}
#forget button{
border-radius:4px;
background-color:orange;
border:0;
color:white;
margin-top:20px;
}

#send{
margin:0 auto;
width:300px;
padding-top:75px;
font-size:20px;
}
.sign_send{
max-width: 480px;
height:220px;
background: #FFF;
margin: 3em auto 4em;
}
#send img{
width:20px;
}
#send a{
display:block;
float:right;
margin-top:20px;
background-color:orange;
color:white;
padding:3px 5px;
border-radius:4px;
}
</style>
{% endblock spec_css %}

{% block body %}
<div id="send_link" class="row sign_forget">
      <div id="forget">
      <form>
			<div id="err_info" class="text-center" style="color:red;" hidden><p>邮箱格式错误</p></div>
      <span>您的电子邮箱</span><input id="email" class="mail" type="email" >
      </form>
      <button id="btn-send-link" class="btn btn-lg btn-block">点击找回</button>
     
      </div>
</div>
<div id="link_sended" class="row sign_send" hidden>
      <div id="send">
			<p><img src="{% static 'image/right.png' %}">找回密码的链接已发至您的邮箱</p>
			<a href="{% url 'index' %}">返回首页</a>
      </div>
</div>
<script>
	$(function(){
					$('#btn-send-link').click(function(){
									$('#err_info').attr('hidden', 'hidden');
									var email = $('#email').val();
									if(!email.match(/^[a-zA-Z0-9.-_]{2,50}@[a-zA-Z0-9]{2,30}.[a-zA-Z0-9]{1,10}$/)){
													$('#email').val('');
													$('#err_info').removeAttr('hidden', 'hidden');
													return false;
									}
									
									var ajax = $.ajax({
													url: "/service/find_password/",
													type: "POST",
													data: {
																	email: email
													}
									});

									ajax.done(function(msg){
													if(msg=='true'){
																	$('#send_link').attr('hidden', 'hidden');
																	$('#link_sended').removeAttr('hidden');
													}else {
																	$('#email').val('');
																	$('#err_info').html('<p>邮箱尚未注册</p>');
																	$('#err_info').removeAttr('hidden', 'hidden');
													}
									});

									ajax.fail(function(msg){
													$('#err_info').html('<p>不可预知错误</p>');
													$('#err_info').removeAttr('hidden', 'hidden');
									});

					})
	});
</script>

{% endblock body %}
