{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row">
   <div class="panel panel-default col-md-12 col-sm-12 col-xs-60" id="classifyTag" style="margin-bottom:0;">
    <div class="panel-heading hidden-xs">
      <h3  style="margin:0; text-align:center">宝贝分类标签</h3>
    </div>
    <div class="panel-body" >
      
      <div id="basedOnCampus" class="col-md-20 col-sm-20 col-xs-60" style="padding:0;" >
        <div class="col-md-12 col-sm-12 col-xs-60 lab labtitle" > 
				<div><h4 id="leftlabel"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: #2aabd2; margin-left:-20px;"></span>校区</h4></a></div>
        </div>
        <div class="col-md-50 col-sm-50 col-xs-10 lab"> 
								<p><a  href="{% url 'search' %}?campus=NQ">南区</a></p>
        </div>
        <div class="col-md-50 col-sm-50 col-xs-10  lab"> 
								<p><a href="{% url 'search' %}?campus=NL">南岭</a></p>
        </div>
        <div class="col-md-50 col-sm-50 col-xs-10  lab"> 
								<p><a href="{% url 'search' %}?campus=NH">南湖</a></p>
        </div>
        <div class="col-md-50 col-sm-50 col-xs-10 lab"> 
								<p><a href="{% url 'search' %}?campus=XM">新民</a></p>
        </div>
        <div class="col-md-50 col-sm-50 col-xs-10 lab"> 
								<p><a href="{% url 'search' %}?campus=CY">朝阳</a></p>
        </div>
        <div class="col-md-50 col-sm-50 col-xs-10 lab"> 
								<p><a href="{% url 'search' %}?campus=HP">和平</a></p>
         </div>                      
        
      </div> 
    
     <div id="basedOnSort" class="col-md-20 col-sm-20 col-xs-60" style="margin-bottom:-35px; padding:0;">
      <div class="col-md-60 col-sm-60 col-xs-60 lab labtitle"> 
				<div><h4><span class="glyphicon glyphicon-tasks" aria-hidden="true" style="color: #ff6600;"></span>类别</h4></div>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10 lab">
							<p><a href="{% url 'search' %}?category=DB">代步</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=SM"> 数码</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=ZS">装饰</a></p> 
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=XL"> 鞋履</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10 lab">             
							<p><a href="{% url 'search' %}?category=DQ">电器</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=XN"> 虚拟</a></p>
      </div>
    </div>
    <div id="basedOnSort" class="col-md-20 col-sm-20 col-xs-60" style="margin-top:27px;  padding:0; ">
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=WT">文体</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=RY"> 日用</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=FS">服饰</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab"> 
							<p><a href="{% url 'search' %}?category=SP"> 食品</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=SK">书刊</a></p>
      </div>
      <div class="col-md-60 col-sm-60 col-xs-10  lab">
							<p><a href="{% url 'search' %}?category=QT"> 其他</a></p>
      </div>      
     </div>           
    </div>           
   </div>
  <div class="col-md-36 col-sm-36 hidden-xs  ">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     
      <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static 'image/homePage.jpg' %}" alt="...">
        <div class="carousel-caption">
      
        </div>
      </div>
      <div class="item">
        <img src="{% static 'image/phone3.jpg' %}" alt="...">
        <div class="carousel-caption">
       
        </div>
      </div>
      <div class="item">
        <img src="{% static 'image/phone2.jpg' %}" alt="...">
        <div class="carousel-caption">
        
        </div>
      </div>
     
      </div>
    
			<!--Top pics display-->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">上一页</span>
      </a>
      <a class="right carousel-control"  href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">下一页</span>
      </a>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 hidden-xs " style="padding:0;">
      
					<a href="{% url 'publish' %}?action=sell" type="button" class="btn col-md-25 col-sm-25" style="background-color: orange;color: white;float: left">转让</a>
					<a href="{% url 'publish' %}?action=want" type="button" class="btn col-md-25 col-sm-25" style="background-color: orange;color: white;float: right">求购</a>
        <div class="col-md-60 col-sm-60" style="height:236px; text-align:center; background-color: white; margin-top:10px;">
								{% if notice %}
								<p>{% autoescape off %}{{ notice.title }}{% endautoescape %}</p>
								<p>{% autoescape off %}{{ notice.content }}{% endautoescape %}</p>
								{% else %}
								<p>暂无公告</p>
								{% endif %}
        </div>
  </div>
  </div>
  
  <div class="row">
     <ul class="nav nav-tabs" id="contentNav" class="col-md-60 col-sm-60  col-xs-60">
						 <li role="presentation" class="{% if category == 'new' or not category %}active{% endif %}"><a href="{% url 'index' %}?category=new">新品上架</a></li>
						 <li role="presentation" class="{% if category == 'hot' %}active{% endif %}"><a href="{% url 'index' %}?category=hot">热门宝贝</a></li>
						 <li role="presentation" class="{% if category == 'change' %}active{% endif %}"><a href="{% url 'index' %}?category=change">交换专区</a></li>
						 <li role="presentation" class="{% if category == 'want' %}active{% endif %}"><a href="{% url 'index' %}?category=want">求购信息</a></li>     
     </ul>
  </div>

  <div class="row">
		{% for item in items %}
    <div class="col-xs-30 col-sm-20 col-md-12 thum">
						<a href="{% url 'detail' %}?pid={{ item.id }}" class="thumbnail">
						<img src="{% get_media_prefix %}{{ item.small_img }}" alt="...">
      </a>
      <div style="background:white;">
							<span class="product-price" style="float: left">￥{{ item.price }}</span>
							{% if item.status == 'sold' %}<span class="product-tag" style="margin-left: 1px;float:right;text-align: center">{{ item.get_status_display }}</span>{% endif %}
							<span class="product-tag" style="float:right;text-align: center">{{ item.get_campus_display }}</span>
							<a href="{% url 'detail' %}?pid={{ item.id }}"> <p class="product-info" style="clear: both">{{ item.name }}</p></a>
      </div>
    </div>
		{% endfor %}
  </div>
        
  <div class="row">          
       <div style="text-align: center" id="paging">
        <nav>
          <ul class="pagination">
					  <li style="visibility:{% if current_page != 1 %}visible{% else %}hidden{% endif %};">
								<a href="{% url 'index' %}?page={{ current_page|add:"-1" }}&category={{ category }}" aria-label="Previous">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              </a>
            </li>

						{% for page in page_range %}
						<li {% if page == current_page %}class="active"{% endif %}><a href="{% url 'index' %}?page={{ page }}&category={{ category }}"><span>{{ page }}</span></a></li>
						{% endfor %}

					  <li style="visibility:{% if current_page != max_page %}visible{% else %}hidden{% endif %};">
								<a href="{% url 'index' %}?page={{ current_page|add:"1" }}&category={{ category }}" style="margin-right:0;"aria-label="Next">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </div>

</div>
{% endblock body %}
