{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-3" id="classifyTag">
      <div class="panel-heading">
        <h3 style="margin: 0">宝贝分类标签</h3></div>
      <div class="panel-body">
        <div id="basedOnCampus" class="col-md-5">
          <h4><span class="glyphicon glyphicon-home" aria-hidden="true" style="color: #2aabd2;"></span>按校区</h4>
          <p><a href="javascript:void (0)">中心校区</a></p>
          <p><a href="javascript:void (0)">南岭校区</a></p>
          <p><a href="javascript:void (0)">南湖校区</a></p>
          <p><a href="javascript:void (0)">新民校区</a></p>
          <p><a href="javascript:void (0)">朝阳校区</a></p>
          <p><a href="javascript:void (0)">和平校区</a></p>
        </div>
        <div id="basedOnSort" class="col-md-7">
          <h4><span class="glyphicon glyphicon-tasks" aria-hidden="true" style="color: #ff6600;"></span>按类别</h4>
          <p><a href="javascript:void (0)">代步</a><a href="javascript:void (0)">数码</a></p>
          <p><a href="javascript:void (0)">电器</a><a href="javascript:void (0)">文体</a></p>
          <p><a href="javascript:void (0)">服饰</a><a href="javascript:void (0)">书刊</a></p>
          <p><a href="javascript:void (0)">鞋履</a><a href="javascript:void (0)">装饰</a></p>
          <p><a href="javascript:void (0)">虚拟</a><a href="javascript:void (0)">日用</a></p>
          <p><a href="javascript:void (0)">食品</a><a href="javascript:void (0)">其他</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
						<img src="{% static "image/homePage.jpg" %}" width="100%">
    </div>
    <div class="col-md-3">
      <button class="btn col-md-6" style="background-color: #ff6600;color: white;width: 45%;float: left">转让宝贝</button>
      <button class="btn col-md-6" style="background-color: #ff6600;color: white;width: 45%;float: right">求购宝贝</button>
      <div style="width:100%;height: 70px;clear: both;text-align: center;vertical-align: middle;background-color: white;position:absolute;margin-top: 45px">
        暂无公告
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs" id="contentNav">
      <li role="presentation" class="active"><a href="javascript:void (0)">新品上架</a></li>
      <li role="presentation"><a href="javascript:void (0)">热门宝贝</a></li>
      <li role="presentation"><a href="javascript:void (0)">交换专区</a></li>
      <li role="presentation"><a href="javascript:void (0)">求购信息</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-2" style="margin-top: 10px;background-color: white;padding: 0">
						<img src="{% static "image/product1.jpg" %}" width="100%" style="margin-bottom: 2px;">
      <p style="text-align: center">
        <span class="product-price" style="float: left">$200</span>
        <span class="product-tag" style="float:right;text-align: center">南区</span>
      </p>
      <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
    </div>
  </div>
  <div class="row">
    <div style="text-align: center" id="paging">
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock body %}
