{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}完善个人信息{% endblock title %}

{% block spec_css %}
<style type="text/css">
        .div-anchor span{
            color: #ff6600;
        }
        ul{
            list-style-type: none;
            margin: 0px;
        }
        .tab-content{
            margin-top: 20px;
        }
.form-control{
border:1px solid orange;
}

.btn{
background-color:orange;
color:white;
}
#send{
margin:0 auto;
width:300px;
padding-top:75px;
font-size:20px;
}
.sign_send{
max-width: 480px;
height:220px;
background: #FFF;
margin: 3em auto 4em;
}
#send img{
width:20px;
}
#send a{
display:block;
float:right;
margin-top:20px;
background-color:orange;
color:white;
padding:3px 5px;
border-radius:4px;
}
</style>
{% endblock spec_css %}

{% block body %}
<div id="success" class="row sign_send" hidden>
      <div id="send">
			<p><img src="{% static 'image/right.png' %}">信息更新成功</p>
			<a href="{% url 'index' %}" class="btn btn-lg">返回首页</a>
			<a href="{% url 'account' 'person_info' %}" class="btn btn-lg" style="float: left">个人中心</a>
      </div>
</div>
<div id="main_content" class="container" >
    <div class="row">
        <div class="col-md-50 col-sm-46 col-md-offset-5 col-sm-offset-5" style=" background-color:white;">
            <div class="tab">
                <ul class="nav nav-tabs">
                 <li role="presentation" class="active"><a>编辑个人信息</a></li>
                </ul>
                <div class="tab-content" >
                    <div id="baby_transfer_div" class="div" >
                        <form class="form-horizontal">
														<p class="col-md-offset-18 col-sm-offset-12 col-xs-offset-12">各项信息都可为空，留空表示不修改</p>
														<div id="e_err_info" class="col-md-offset-18 col-sm-offset-12 col-xs-offset-12" style="color: red; margin-bottom:10px;" ></div>
                            <div class="form-group">
                                <label  class="col-sm-10  control-label">用户名</label>
                                <div class="col-sm-30">
                                    <input id="e_name" type="text" class="form-control" placeholder="2-15个字符">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-10 control-label">性别</label>
                                <div class="col-sm-30 ">
                                    <select id="e_sex" class="col-sm-60 col-xs-60 form-control">
                                        <option value="M">男</option>
                                        <option value="F">女</option>
                                        <option value="U">保密</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-10   control-label">邮箱</label>
                                <div class="col-sm-30  ">
                                <input id="e_email" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-10 control-label">校区</label>
                                <div class="col-sm-30 ">
                                    <select id="e_campus" class="col-sm-60 col-xs-60 form-control" >
                                        <option value="NQ">南区</option>
                                        <option value="NH">南湖</option>
                                        <option value="NL">南岭</option>
                                        <option value="XM">新民</option>
                                        <option value="CY">朝阳</option>
                                        <option value="HP">和平</option>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group">
                                <label  class="col-sm-10  control-label">学院</label>
                                <div class="col-sm-30  ">
                                    <input id="e_college" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-10  control-label">入学年份</label>
                                <div class="col-sm-30  ">
                                    <input id="e_entry_year" type="number" class="form-control"  >
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-10  control-label" >电话</label>
                                <div class="col-sm-30  ">
                                    <input id="e_phone" type="tel" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-10  control-label">QQ</label>
                                <div class="col-sm-30 ">
                                    <input id="e_qq" type="number" class="form-control" >
                                </div>
                            </div>
                        </form>
												<button id="submit" class="col-md-offset-20 col-sm-offset-20 col-xs-offset-20 btn" type="button" {% if not user %}disabled title="请先登陆"{% endif %}>确认修改</button>

<script>

$(function(){

				$('#submit').click(function(){
								var name = $('#e_name').val();
								var sex = $('#e_sex').val();
								var email = $('#e_email').val();
								var campus = $('#e_campus').val();
								var college = $('#e_college').val();
								var entry_year = $('#e_entry_year').val();
								var phone = $('#e_phone').val();
								var qq = $('#e_qq').val();

								var err_info = $('#e_err_info');

								err_info.attr('hidden', 'hidden');
								// Check user name
								if (name && !name.match(/^.{2,15}$/)) {
										err_info.html('用户名错误(2-15个字符)');
										err_info.removeAttr('hidden');
										return false;
								}
								// Check email
								if (email && !email.match(/^[a-zA-Z0-9.-_]{2,50}@[a-zA-Z0-9]{2,30}.[a-zA-Z0-9]{1,10}$/)) {
										err_info.html('邮箱格式错误');
										err_info.removeAttr('hidden');
										return false;
								}
								// Check college
								if (college && !college.match(/^.{1,30}$/)) {
										err_info.html('学院错误(1-30个字符)');
										err_info.removeAttr('hidden');
										return false;
								}
								// Check entry year
								if (entry_year && !entry_year.match(/^[0-9]{4}$/)){
										err_info.html('入学年份错误(4位数字)');
										err_info.removeAttr('hidden');
										return false;
								}

								var ajax = $.ajax({
												url: '/service/person_info_edit/',
												type:'POST',
												data: {
																name: name,
																sex:sex,
																email: email,
																campus: campus,
																college: college,
																entry_year: entry_year,
																phone: phone,
																qq: qq,
												}
								});
								ajax.done(function(msg){
												if(msg=='true'){
														$('#main_content').attr('hidden','hidden');
														$('#success').removeAttr('hidden');

												}else{
														err_info.html('信息更新出错');
														err_info.removeAttr('hidden');
												}
								});
								ajax.fail(function(msg){
														err_info.html('信息更新出错');
														err_info.removeAttr('hidden');
								});

				});
})
</script>

{% endblock body %}
