{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}转让宝贝{% endblock title %}

{% block spec_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/publish.css' %}">{% endblock spec_css %}

{% block body %}

<div class="container" >
  <div class="row">
    <div class="col-md-10 col-sm-14 hidden-xs" >
      <div class="div-anchor"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a href="#p1">填写基本信息</a></div>
      <div class="div-anchor"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><a href="#p2">上传宝贝片图</a></div>
      <div class="div-anchor"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><a href="#p3">宝贝详细描述</a></div>
      <div class="div-anchor"><span class="glyphicon glyphicon-send" aria-hidden="true"></span><a href="#p4">立即发送</a></div>
    </div>
    <div class="col-md-50 col-sm-46" style=" background-color:white;">
      <div class="tab">
        <ul class="nav nav-tabs" id="main_tag">
          <li role="presentation" id="transfer" onclick="setTab(0)"class="active"><a>转让宝贝</a></li>
          <li role="presentation" id="purchase" onclick="setTab(1)"><a>求购宝贝</a></li>
        </ul>
        <div class="tab-content" id="main_div">
          <div id="baby_transfer_div" class="div" style="display:block;">
             
            <form class="form-horizontal">
							<div id="err_info" class="text-center" style="color: red;" hidden></div>
              <div class="form-group">
                <label for="baby_transfer_product_name" class="col-sm-10  control-label">宝贝名称</label>
                <div class="col-sm-30">
                  <input type="text" class="form-control" id="baby_transfer_product_name" name="baby_transfer_product_name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10 control-label">转让形式</label>
                <div class="col-sm-30 ">
                  <select name="s_purpose" class="col-sm-60 col-xs-60" id="s_purpose">
                    <option value="1">出售</option>
                    <option value="2">交换</option>
                  </select>

                </div>
							</div>
              <div class="form-group">
                <label class="col-sm-10 control-label">宝贝类别</label>
                <div class="col-sm-30 ">
                  <select name="ask_baby_product_class"  class="col-sm-60 col-xs-60"id="s_ask_baby_product_class">
                    <option value="DB">代步</option>
                    <option value="SM">数码</option>
                    <option value="DQ">电器</option>
                    <option value="WT">文体</option>
                    <option value="FS">服饰</option>
                    <option value="XL">鞋履</option>
                    <option value="ZS">装饰</option>
                    <option value="XN">虚拟</option>
                    <option value="RY">日用</option>
                    <option value="SK">书刊</option>
                    <option value="SP">食品</option>
                    <option value="QT">其它</option>
                  </select>

                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_price" class="col-sm-10   control-label">期望价格</label>
                <div class="col-sm-30  ">
                  <input type="text" class="form-control" id="baby_transfer_product_price" name="baby_transfer_product_price">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10 control-label">新旧程度</label>
                <div class="col-sm-30 ">

                  <select name="ask_baby_product_newOrOld" class="col-sm-60 col-xs-60" id="ask_baby_product_newOrOld">
                    <option value="9">九成新</option>
                    <option value="8">八成新</option>
                    <option value="7">七成新</option>
                    <option value="6">六成新</option>
                  </select>

                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_seller_phone" class="col-sm-10  control-label">电话</label>
                <div class="col-sm-30  ">
                  <input type="tel" class="form-control" id="baby_transfer_product_seller_phone" name="baby_transfer_product_seller_phone">
                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_seller_qq" class="col-sm-10  control-label">QQ</label>
                <div class="col-sm-30 ">
                  <input type="number" class="form-control" id="baby_transfer_product_seller_qq" name="baby_transfer_product_seller_qq">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10  control-label">交易区域</label>
                <div class="col-sm-30">
                  <select name="s_campus" class="col-sm-60 col-xs-60" id="s_campus">
                    <option value="NQ">南区</option>
                    <option value="NL">南岭</option>
                    <option value="NH">南湖</option>
                    <option value="HP">和平</option>
                    <option value="XM">新民</option>
                    <option value="CY">朝阳</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                
                <label class="col-sm-10 control-label">上传图片</label>
                <div class="col-md-30  ">
								<img id="uploadpicture"  src="{% static 'image/upfile.png' %}">
                  <input id="uploadPic" class="col-sm-10" type="file" name="uploadPic" multiple="multiple" accept="image/jpeg, image/gif" hidden>
                </div>
              </div>
              <div class="form-group">
                
               <label for="baby_transfer_product_detail" class="col-sm-10 control-label">详细描述</label>
                <div class="col-sm-40 ">
                  <textarea cols="40" rows="10" class="form-control" id="baby_transfer_product_detail" name="baby_transfer_product_detail"></textarea>
                </div>
              </div>
                
            </form>
						<button id="s_submit" type="submit" class="btn" {% if not user %}disabled title="请先登陆" {% endif %}>立即发布</button>
          </div>
          <div id="ask_baby_div" class="div" style="display:none;">
            <form class="form-horizontal">
							<div id="err_info_2" class="text-center" style="color: red;" hidden></div>
              <div class="form-group">
                <label for="ask_baby_product_name" class="col-sm-10  control-label">宝贝名称</label>
                <div class="col-sm-30  ">
                  <input type="text" class="form-control" id="ask_baby_product_name" name="ask_baby_product_name">
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_class" class="col-sm-10   control-label">宝贝类别</label>
                <div class="col-sm-30  ">
                  <select name="ask_baby_product_class"  class="col-sm-60 col-xs-60"id="ask_baby_product_class">
                    <option value="DB">代步</option>
                    <option value="SM">数码</option>
                    <option value="DQ">电器</option>
                    <option value="WT">文体</option>
                    <option value="FS">服饰</option>
                    <option value="XL">鞋履</option>
                    <option value="ZS">装饰</option>
                    <option value="XN">虚拟</option>
                    <option value="RY">日用</option>
                    <option value="SK">书刊</option>
                    <option value="SP">食品</option>
                    <option value="QT">其它</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_price" class="col-sm-10  control-label">接受价格</label>
                <div class="col-sm-30 ">
                  <input type="text" class="form-control" id="ask_baby_product_price" name="ask_baby_product_price">
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_seller_phone" class="col-sm-10 control-label">电话</label>
                <div class="col-sm-30  ">
                  <input type="tel" class="form-control" id="ask_baby_product_seller_phone" name="ask_baby_product_seller_phone">
                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_seller_qq" class="col-sm-10 control-label">QQ</label>
                <div class="col-sm-30 ">
                  <input type="text" class="form-control" id="ask_baby_product_seller_qq" name="ask_baby_product_seller_qq">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10 control-label">交易区域</label>
                <div class="col-sm-30">
                  <select name="w_campus" class="col-sm-60 col-xs-60" id="w_campus">
                    <option value="NQ">南区</option>
                    <option value="NL">南岭</option>
                    <option value="NH">南湖</option>
                    <option value="HP">和平</option>
                    <option value="XM">新民</option>
                    <option value="CY">朝阳</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_detail" class="col-sm-10  control-label">详细描述</label>
                <div class="col-sm-40 ">
                  <textarea cols="40" rows="10" class="form-control" id="ask_baby_product_detail" name="ask_baby_product_detail"></textarea>
                </div>
              </div>
            </form>
						<button id="w_submit" type="submit" class="btn" {% if not user %}disabled title="请先登陆"{% endif %}>立即发布</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
    <script>  
			$(function() {
				
							$('#s_submit').click(function(){
											var name = $('#baby_transfer_product_name').val();
											var purpose = $('#s_purpose').val();
											var category = $('#ask_baby_product_class').val();
											var price = $('#baby_transfer_product_price').val();
											var condition = $('#ask_baby_product_newOrOld').val();
											var phone = $('#baby_transfer_product_seller_phone').val();
											var qq = $('#baby_transfer_product_seller_qq').val();
											var campus = $('#s_campus').val();
											var content = $('#baby_transfer_product_detail').val();

											var err_info = $('#err_info');

											err_info.attr('hidden', 'hidden');
											// Check validation
											if(!name.match(/^.{2,30}$/)){
															err_info.html('<p>宝贝名字不合法,应该是2-30个字符</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											if(!price.match(/^[0-9.]{1,10}$/)){
															err_info.html('<p>价格不合法</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											if(!content.match(/^.{2,200}$/)){
															err_info.html('<p>详细描述内容不合法，应该是2-200个字符</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											var files = $('#uploadPic').get(0).files;
											if(files.length>4){
															err_info.html('<p>图片太多，最多上传4张</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											if(files.length==0){
															err_info.html('<p>至少要上传一张图片吧,同学</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											var formData = new FormData();

											// Insert files
											for(var i=0, file; file=files[i];++i){
															formData.append(file.name, file);
											}
											formData.append('name', name);
											formData.append('purpose', purpose);
											formData.append('category', category);
											formData.append('price', price);
											formData.append('condition', condition);
											formData.append('phone', phone);
											formData.append('qq', qq);
											formData.append('campus', campus);
											formData.append('content', content);

											var ajax = $.ajax({
															url: '/service/publish/sale/',
															type: 'POST',
															data: formData,
														  cache: false,
															processData: false,
															contentType: false,
											});

											ajax.done(function(msg){
															if(msg=='true'){
																			alert('Success');
															}else{
																			alert(msg);
																			err_info.html('<p>上传失败，可能是由于文件格式不正确。请确认上传的是图片</p>');
																			err_info.removeAttr('hidden');
																			return false;
															}
											});

											ajax.fail(function(msg){
																			err_info.html('<p>上传失败，可能是由于文件格式不正确。请确认上传的是图片</p>');
																			err_info.removeAttr('hidden');
																			return false;
											});

							});

							$('#w_submit').click(function(){
											var name = $('#ask_baby_product_name').val();
											var category = $('#ask_baby_product_class').val();
											var price = $('#ask_baby_product_price').val();
											var phone = $('#ask_baby_product_seller_phone').val();
											var qq = $('#ask_baby_product_seller_qq').val();
											var campus = $('#w_campus').val();
											var content = $('#ask_baby_product_detail').val();

											var err_info = $('#err_info_2');

											err_info.attr('hidden', 'hidden');
											// Check validation
											if(!name.match(/^.{2,30}$/)){
															err_info.html('<p>宝贝名字不合法,应该是2-30个字符</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											if(!price.match(/^[0-9.]{1,10}$/)){
															err_info.html('<p>价格不合法</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											if(!content.match(/^.{2,200}$/)){
															err_info.html('<p>详细描述内容不合法，应该是2-200个字符</p>');
															err_info.removeAttr('hidden');
															return false;
											}

											var ajax = $.ajax({
															url: '/service/publish/want/',
															type: 'POST',
															data: {
																			name: name,
																			category: category,
																			price: price,
																			phone: phone,
																			qq: qq,
																			campus: campus,
																			content: content,
															}
											});

											ajax.done(function(msg){
															if(msg == 'true'){
																			alert('success');
															}else{
																			alert('fail');
																			err_info.html('<p>发布失败</p>');
																			err_info.removeAttr('hidden');
																			return false;
															}
											});

											ajax.fail(function(msg){
															alert('fail');
															err_info.html('<p>发布失败</p>');
															err_info.removeAttr('hidden');
															return false;
											});

							});


							$('#uploadpicture').click(function(){
											$('#uploadPic').click();
							});

				  $(window).scroll(function() {
					  var top = $(this).scrollTop();
					  var flowSearch = $("#flowSearchForm");
					  if (top < 36) {
						  flowSearch.css("display", "none");
					  } else {
						  flowSearch.css("display", "block");
					  }
				  });
			  });
			
			
			setInterval(function transfer(){
			 var width=document.documentElement.clientWidth || document.body.clientWidth;
			 var oNAV= document.getElementById("NAV");
			
					  if (width<750) {
						  oNAV.style.display="block";
					  } else {
						  oNAV.style.display="none";
					  }
			},10);

    function setTab(n){
      var tli=document.getElementById("main_tag").getElementsByTagName("li");
      var mli=document.getElementById("main_div").getElementsByClassName("div");
      for(i=0;i<tli.length;i++){
        tli[i].className=i==n?"active":"";
        mli[i].style.display=i==n?"block":"none";
      }
    }
		{% if is_want %}setTab(1);{% endif %}

</script>

{% endblock body %}
