{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}转让宝贝{% endblock title %}

{% block spec_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/publish.css' %}">{% endblock spec_css %}

{% block body %}

<div class="container" >
  <div class="row">
    <div class="col-md-10 col-sm-14 hidden-xs" >
      <div class="div-anchor"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a href="#p1">填写基本信息</a></div>
      <div class="div-anchor"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><a href="#p2">上传宝贝片图</a></div>
      <div class="div-anchor"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><a href="#p3">宝贝详细描述</a></div>
      <div class="div-anchor"><span class="glyphicon glyphicon-send" aria-hidden="true"></span><a href="#p4">立即发送</a></div>
    </div>
    <div class="col-md-50 col-sm-46" style=" background-color:white;">
      <div class="tab">
        <ul class="nav nav-tabs" id="main_tag">
          <li role="presentation" id="transfer" onclick="setTab(0)"class="active"><a>转让宝贝</a></li>
          <li role="presentation" id="purchase" onclick="setTab(1)"><a>求购宝贝</a></li>
        </ul>
        <div class="tab-content" id="main_div">
          <div id="baby_transfer_div" class="div" style="display:block;">
             
            <form class="form-horizontal">
              <div class="form-group">
                <label for="baby_transfer_product_name" class="col-sm-10  control-label">宝贝名称</label>
                <div class="col-sm-30">
                  <input type="text" class="form-control" id="baby_transfer_product_name" name="baby_transfer_product_name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10 control-label">宝贝类别</label>
                <div class="col-sm-30 ">

                  <select name="ask_baby_product_class"  class="col-sm-60 col-xs-60"id="ask_baby_product_class">
                    <option>数码</option>
                    <option>电子</option>
                    <option>代步</option>
                    <option>鞋履</option>
                  </select>

                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_price" class="col-sm-10   control-label">期望价格</label>
                <div class="col-sm-30  ">
                  <input type="number" class="form-control" id="baby_transfer_product_price" name="baby_transfer_product_price">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10 control-label">新旧程度</label>
                <div class="col-sm-30 ">

                  <select name="ask_baby_product_newOrOld" class="col-sm-60 col-xs-60" id="ask_baby_product_newOrOld">
                    <option>九成新</option>
                    <option>八成新</option>
                    <option>七成新</option>
                    <option>六成新</option>

                  </select>

                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_seller_phone" class="col-sm-10  control-label">电话</label>
                <div class="col-sm-30  ">
                  <input type="tel" class="form-control" id="baby_transfer_product_seller_phone" name="baby_transfer_product_seller_phone">
                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_seller_qq" class="col-sm-10  control-label">QQ</label>
                <div class="col-sm-30 ">
                  <input type="number" class="form-control" id="baby_transfer_product_seller_qq" name="baby_transfer_product_seller_qq">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10  control-label">交易区域</label>
                <div class="col-sm-30   checkbox">
                  <label><input type="checkbox">南区</label>
                  <label><input type="checkbox">南岭</label>
                  <label><input type="checkbox">南湖</label>
                  <label><input type="checkbox">新民</label>
                  <label><input type="checkbox">和平</label>
                  <label><input type="checkbox">朝阳</label>
                </div>
              </div>
              <div class="form-group">
                
                <label class="col-sm-10 control-label">上传图片</label>
                <div class="col-md-30  ">
								<img id="uploadpicture"  src="{% static 'image/upfile.png' %}">
                  <input id="uploadPic" class="col-sm-10" type="file" name=""  accept="image/jpeg, image/gif">
                </div>
              </div>
              <div class="form-group">
                
               <label for="baby_transfer_product_detail" class="col-sm-10 control-label">详细描述</label>
                <div class="col-sm-40 ">
                  <textarea cols="40" rows="10" class="form-control" id="baby_transfer_product_detail" name="baby_transfer_product_detail"></textarea>
                </div>
              </div>
                
               <button type="submit" class="btn">立即发布</button>
            </form>
          </div>
          <div id="ask_baby_div" class="div" style="display:none;">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="ask_baby_product_name" class="col-sm-10  ccontrol-label">宝贝名称</label>
                <div class="col-sm-30  ">
                  <input type="text" class="form-control" id="ask_baby_product_name" name="ask_baby_product_name">
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_class" class="col-sm-10   control-label">宝贝类别</label>
                <div class="col-sm-30  ">
                  <select name="ask_baby_product_class"  class="col-sm-60 col-xs-60"id="ask_baby_product_class">
                    <option>数码</option>
                    <option>电子</option>
                    <option>代步</option>
                    <option>鞋履</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_price" class="col-sm-10  control-label">接受价格</label>
                <div class="col-sm-30 ">
                  <input type="number" class="form-control" id="ask_baby_product_price" name="ask_baby_product_price">
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_seller_phone" class="col-sm-10 control-label">电话</label>
                <div class="col-sm-30  ">
                  <input type="tel" class="form-control" id="ask_baby_product_seller_phone" name="ask_baby_product_seller_phone">
                </div>
              </div>
              <div class="form-group">
                <label for="baby_transfer_product_seller_qq" class="col-sm-10 control-label">QQ</label>
                <div class="col-sm-30 ">
                  <input type="number" class="form-control" id="ask_baby_product_seller_qq" name="ask_baby_product_seller_qq">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-10 control-label">交易区域</label>
                <div class="col-sm-30 checkbox">
                  <label><input type="checkbox">南区</label>
                  <label><input type="checkbox">南岭</label>
                  <label><input type="checkbox">南湖</label>
                  <label><input type="checkbox">新民</label>
                  <label><input type="checkbox">和平</label>
                  <label><input type="checkbox">朝阳</label>
                </div>
              </div>
              <div class="form-group">
                <label for="ask_baby_product_detail" class="col-sm-10  control-label">详细描述</label>
                <div class="col-sm-40 ">
                  <textarea cols="40" rows="10" class="form-control" id="ask_baby_product_detail" name="ask_baby_product_detail"></textarea>
                </div>
              </div>
              <button type="submit" class="btn">立即发布</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
    <script>  
			$(function() {
				  $(window).scroll(function() {
					  var top = $(this).scrollTop();
					  var flowSearch = $("#flowSearchForm");
					  if (top < 36) {
						  flowSearch.css("display", "none");
					  } else {
						  flowSearch.css("display", "block");
					  }
				  });
			  });
			
			
			setInterval(function transfer(){
			 var width=document.documentElement.clientWidth || document.body.clientWidth;
			 var oNAV= document.getElementById("NAV");
			
					  if (width<750) {
						  oNAV.style.display="block";
					  } else {
						  oNAV.style.display="none";
					  }
			},10);

    function setTab(n){
      var tli=document.getElementById("main_tag").getElementsByTagName("li");
      var mli=document.getElementById("main_div").getElementsByClassName("div");
      for(i=0;i<tli.length;i++){
        tli[i].className=i==n?"active":"";
        mli[i].style.display=i==n?"block":"none";
      }
    }
		{% if is_want %}setTab(1);{% endif %}

</script>

{% endblock body %}
