{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}重置密码{% endblock title %}

{% block spec_css %}
<style type="text/css">
#change_psw{
padding-top:20px;
padding-left:60px;
padding-bottom: 20px;
background-color:white;
width: 600px;
margin: 0 auto;
}
.form-control,.input-group-addon{
border:1px solid orange;
}
.btn{
background-color:orange;
color:white;
}
#back a{
color:#000;
}
#back a:hover{
text-decoration:none;
}
#send{
margin:0 auto;
width:300px;
padding-top:75px;
font-size:20px;
}
.sign_send{
max-width: 480px;
height:220px;
background: #FFF;
margin: 3em auto 4em;
}
#send img{
width:20px;
}
#send a{
display:block;
float:right;
margin-top:20px;
background-color:orange;
color:white;
padding:3px 5px;
border-radius:4px;
}
</style>
{% endblock spec_css %}

{% block body %}
           <div class="content_information  " id="change_psw">
							{% if key %}
              <form class="form-horizontal">
										<div id="err_info" style="color: red;" class="text-center" hidden></div>
										<input id="key" type="password" value="{{ key }}" hidden>
                    <div class="form-group">
                        <label for="new_pwd" class="col-sm-10  control-label">新密码</label>
                        <div class="col-sm-30 col-xs-30 input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="color: #ff6600;"></span></div>
                            <input type="password" class="form-control" id="new_pwd" name="new_pwd" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_pwd_again" class="col-sm-10  control-label">确认密码</label>
                        <div class="col-sm-30 col-xs-30 input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="color: #ff6600;"></span></div>
                            <input type="password" class="form-control" id="new_pwd_again" name="new_pwd_again" placeholder="请再次输入新密码">
                        </div>
                    </div>
                </form>
								<button id="submit" type="button"  class="btn col-sm-offset-8" >确认修改</button>
								{% else %}
								<h2 id="reset_err_info">链接已经失效</h2>
								<a href="{% url 'index' %}" class="btn" role="button">返回首页</a>
								{% endif %}
            </div>
				<div id="reset_success" class="row sign_send" hidden>
							<div id="send">
							<p><img src="{% static 'image/right.png' %}">密码重置成功</p>
							<a href="{% url 'index' %}">返回首页</a>
							</div>
				</div>
<script>
	$(function(){
					$('#submit').click(function(){
								var new_password = $('#new_pwd').val();
								var new_password_again = $('#new_pwd_again').val()
								var key = $('#key').val();
								var err_info = $('#err_info');

								err_info.removeAttr('hidden');
								
								if($('#new_password').val()==''){
												err_info.html('<p>密码不能为空</p>');
												err_info.removeAttr('hidden');
												$('#new_password').val('');
												$('#new_password_again').val('');
												return false;
								}

								// New password again doesnot match new password
								if (!(new_password_again==new_password)){
												err_info.html('<p>两次密码不匹配</p>');
												err_info.removeAttr('hidden');
												$('#new_pwd').val('');
												$('#new_pwd_again').val('');
												return false;
								}

								// Check password format
								if(!new_password.match(/^.{6,20}$/)){
												err_info.html('<p>密码应该是6-20位字符</p>');
												err_info.removeAttr('hidden');
												$('#new_pwd').val('');
												$('#new_pwd_again').val('');
												return false;
								}

								var ajax = $.ajax({
												url: "/service/reset_password/",
												type: "POST",
												data: {
																key: key,
																password: new_password
												}
								});

								ajax.done(function(msg){
												if(msg=='true'){
																$('#change_psw').attr('hidden', 'hidden');
																$('#reset_success').removeAttr('hidden');
																return true;
												}else{
																$('#err_info').html('出现不可预知错误');
																$('#err_info').removeAttr('hidden');
																$('#new_password').val('');
																$('#new_password_again').val('');
																return false;
												}
								});

								ajax.fail(function(msg){
												$('#reset_err_info').html('出现不可预知错误');
												$('#change_psw').attr('hidden', 'hidden');
												$('#reset_success').removeAttr('hidden');
												return false;
								});

								});
})
</script>
{% endblock body %}
