{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block spec_css %}
<style type="text/css">
		.headlabel{
		background-color:white;
		border-left:1px solid #ddd;
		border-right:1px solid #ddd;
		
		}

		.headlabel li>a{
		color:#333;
		}
		.headlabel li.active a:link{
		border-radius: 3px;
		background-color:orange;
		color:white;
		margin: 0;
		}
		.headlabel li.active a:visited{
		background-color:orange;
		color:white;
		}
		.headlabel li.active a:hover{
		background-color:orange;
		color:white;
		}
        .headlabel li.ac a{
		border:1px solid orange;

		}
    .headlabel li.Title a:hover{
		background-color:white;
		border:1px solid white;
		}
		<!--.nav>li>a {-->
		<!--padding:2px 2px;-->
        <!--margin:5px 2px;-->
		<!--}-->
		#contNav{
		border-bottom:1px solid orange;
        margin-top:10px;
		}
		
		li.default a{
		background-color:orange;
		border:1px solid orange;
		color:white;
		}
		li.default a:hover{
		background-color:orange;
		border:1px solid orange;
		color:white;
		}


    </style>
		{% endblock spec_css %}

		{% block title %}[{{ keyword }}]搜索结果{% endblock title %}
{% block body %}
<div class="container" >

    <div class="row">
         <ul class="nav nav-tabs headlabel"  id="schoolNav">
         <li class="Title"><a href=""><strong>校区</strong></a></li>
         <li id="all"><a href="javascript:void(0)">不限</a></li>
         <li id="NQ" class=""><a href="javascript:void(0)">南区</a></li>
         <li id="NL" class=""><a href="javascript:void(0)">南岭</a></li>
         <li id="NH" class=""><a href="javascript:void(0)">南湖</a></li>
         <li id="XM" class=""><a href="javascript:void(0)">新民</a></li>
         <li id="HP" class=""><a href="javascript:void(0)">和平</a></li>
         <li id="CY" class=""><a href="javascript:void(0)">朝阳</a></li>

        </ul>
    </div>
    <div class="row">
         <ul class="nav nav-tabs headlabel "  id="kindNav">
         <li class="Title"><a href=""><strong>类别</strong></a></li>
         <li id="c_all"><a href="javascript:void(0)">不限</a></li>
         <li id="c_DB"><a href="javascript:void(0)">代步</a></li>
         <li id="c_SM"><a href="javascript:void(0)">数码</a></li>
         <li id="c_DQ"><a href="javascript:void(0)">电器</a></li>
         <li id="c_WT"><a href="javascript:void(0)">文体</a></li>
         <li id="c_FS"><a href="javascript:void(0)">服饰</a></li>
         <li id="c_XL"><a href="javascript:void(0)">鞋履</a></li>
         <li id="c_ZS"><a href="javascript:void(0)">装饰</a></li>
         <li style="opacity:0;  display:none; cursor:default;" id="blank"><a>空白</a></li>
         <li id="c_XN"><a href="javascript:void(0)">虚拟</a></li>
         <li id="c_RY"><a href="javascript:void(0)">日用</a></li>
         <li id="c_SK"><a href="javascript:void(0)">书刊</a></li>
         <li id="c_SP"><a href="javascript:void(0)">食品</a></li>
         <li id="c_QT"><a href="javascript:void(0)">其它</a></li>

        </ul>
    </div>
    <div class="row">
         <ul class="nav nav-tabs headlabel " id="typeNav">
         <li class="Title" ><a href=""><strong>类型</strong></a></li>
         <li id="t_all"><a href="javascript:void(0)">不限</a></li>
         <li id="t_1"><a href="javascript:void(0)">出售</a></li>
         <li id="t_2"><a href="javascript:void(0)">交换</a></li>
         <li id="t_3"><a href="javascript:void(0)">求购</a></li>

         </ul>
    </div>

    <div id="items" class="row">
				{% if items %}
						{% for item in items %}
						<div class="col-xs-30 col-sm-20 col-md-12 thum {{ item.campus }} c_{{ item.category }} t_{{ item.purpose }} item">
										<a href="{% url 'detail' %}?pid={{ item.id }}" class="thumbnail">
										<img src="{% get_media_prefix %}{{ item.small_img }}" alt="...">
							      </a>
							<div style="background:white;">
											<span class="product-price" style="float: left">￥{{ item.price }}</span>
											<span class="product-tag" style="float:right;text-align: center">{{ item.get_campus_display }}</span>
											<a href="{% url 'detail' %}?pid={{ item.id }}"> <p class="product-info" style="clear: both">{{ item.name }}</p></a>
							</div>
						</div>
						{% endfor %}
				{% else %}
						<h2 class="text-center">搜索结果为空，试试其它的关键词吧</h2>
		    {% endif %}
						
     </div>
     <!--<div class="row">                  -->
                <!--<div style="text-align: center" id="paging">-->
                    <!--<nav>-->
                        <!--<ul class="pagination">-->
                            <!--<li>-->
                                <!--<a href="#" aria-label="Previous">-->
                                    <!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li><a href="#"><span>1</span></a></li>-->
                            <!--<li><a href="#"><span>2</span></a></li>-->
                            <!--<li><a href="#"><span>3</span></a></li>-->
                            <!--<li><a href="#"><span>4</span></a></li>-->
                            <!--<li><a href="#"><span>5</span></a></li>-->
                            <!--<li>-->
                                <!--<a href="#" style="margin-right:0;" aria-label="Next">-->
                                    <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</nav>-->
               <!--</div>-->
        <!--</div>-->
</div>
<script type="text/javascript" >
window.onload=function(){
var aLis = $('#schoolNav li');
var aLik = $('#kindNav li');
var aLit = $('#typeNav li');

var all_items = $('#items .item');
var active_campus = new Array();
var active_category = new Array();
var active_type = new Array();

// Initialize active dicts
for(i=1;i!=aLis.length;++i)
		active_campus[aLis[i].id] = 0;

for(i=1;i!=aLik.length;++i)
		active_category[aLik[i].id] = 0;

for(i=1;i!=aLit.length;++i)
		active_type[aLit[i].id] = 0;

{% if campus %}active_campus['{{ campus }}'] = 1;{% else %} active_campus['all'] = 1;{% endif %}
{% if category %}active_category['c_{{ category }}'] = 1;{% else %} active_category['c_all'] = 1;{% endif %}
active_type['t_all'] = 1


// Hide or display items by active_* status
function display_active(){
	if(active_campus['all']==1){
		aLis[1].className = "active";
		for(i=2;i!=aLis.length;++i){
			active_campus[aLis[i].id] = 1;
			aLis[i].className = '';
		}

	}else{
		aLis[1].className = '';
		for(i=2;i!=aLis.length;++i){
			if(active_campus[aLis[i].id]==1)
					aLis[i].className = 'active';
		}
	}

	if(active_category['c_all']==1){
		aLik[1].className = "active";
		for(i=2;i!=aLik.length;++i){
			active_category[aLik[i].id] = 1;
			aLik[i].className = '';
		}

	}else{
		aLik[1].className = '';
		for(i=2;i!=aLik.length;++i){
			if(active_category[aLik[i].id]==1)
					aLik[i].className = 'active';
		}
	}

	if(active_type['t_all']==1){
		aLit[1].className = "active";
		for(i=2;i!=aLit.length;++i){
			active_type[aLit[i].id] = 1;
			aLit[i].className = '';
		}

	}else{
		aLit[1].className = '';
		for(i=2;i!=aLit.length;++i){
			if(active_type[aLit[i].id]==1)
					aLit[i].className = 'active';
		}
	}

/*
	if(active_type['t_all']==1){
		for(i=2;i!=aLit.length;++i)
			active_type[aLit[i].id] = 1;

*/

	for(var i=0; i!=all_items.length; ++i){
		var campus = all_items[i].classList[4];
		var category = all_items[i].classList[5];
		var type = all_items[i].classList[6];
		if((active_campus[campus]==1) && (active_category[category]==1) && (active_type[type]==1)){
				all_items[i].style.display="block";
		}else{
				all_items[i].style.display="none";
		}
	}

}

display_active();

// All campus
aLis[1].addEventListener('click', function() {
				active_campus['all'] = 1
				display_active();
})
// All category
aLik[1].addEventListener('click', function() {
				active_category['c_all'] = 1
				display_active();
})
// All type
aLit[1].addEventListener('click', function() {
				active_type['t_all'] = 1
				display_active();
})

// 6 campuses
for (i = 2; i < aLis.length; i++) {
   aLis[i].addEventListener('click', function() {
			active_campus['all'] = 0;
	  	if(this.className==""){
		     this.className="active";
		  }else{this.className="";}
      aLis[1].className="";

			for(var j=1;j!=aLis.length;++j){
							if(aLis[j].className=="active"){
									active_campus[aLis[j].id] = 1;
							} else{
											active_campus[aLis[j].id] = 0;
							}
			}
			display_active();
			

  }, false);

}
// 12 categories
for (i = 2; i < aLik.length; i++) {
   aLik[i].addEventListener('click', function() {
			active_category['c_all'] = 0;
	  	if(this.className==""){
		     this.className="active";
		  }else{this.className="";}
      aLik[1].className="";

			for(var j=1;j!=aLik.length;++j){
							if(aLik[j].className=="active"){
									active_category[aLik[j].id] = 1;
							} else{
											active_category[aLik[j].id] = 0;
							}
			}
			display_active();
			

  }, false);

}
// 3 typies
for (i = 2; i < aLit.length; i++) {
   aLit[i].addEventListener('click', function() {
			active_type['t_all'] = 0;
	  	if(this.className==""){
		     this.className="active";
		  }else{this.className="";}
      aLit[1].className="";

			for(var j=1;j!=aLit.length;++j){
							if(aLit[j].className=="active"){
									active_type[aLit[j].id] = 1;
							} else{
											active_type[aLit[j].id] = 0;
							}
			}
			display_active();
			

  }, false);

}
}
</script>
{% endblock body %}
