{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}用户信息{% endblock title %}
{% block spec_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">{% endblock spec_css %}

{% block body %}
<div class="container">
        <div class="row" id="info">
           <h4 style="text-align:center;">完美世界618</h4>
             <p>
                <span>帅哥</span> |
                <span>南区</span> |
                <span>计算机科学与技术学院</span> |
                <span>本科（2012级）</span>
            </p>
        </div>
        <div class="row">
               <ul class="nav nav-tabs " id="contentNav" class="col-md-60 col-sm-60  col-xs-60">
                    <li role="presentation">
                     <a href="">他发布的宝贝</a>
                    </li>
               </ul>
        </div>

       <div class="row">
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵这是一只小猫咪…这是一只小猫咪…</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
         <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
          <div class="col-xs-30 col-sm-20 col-md-12 thum">
            <a href="#" class="thumbnail">
              <img src="{% static 'image/phone3.jpg' %}" alt="...">
            </a>
                <div style="background:white;">
                <span class="product-price" style="float: left">￥200</span>
                <span class="product-tag" style="float:right;text-align: center">南区</span>
                <p class="product-info" style="clear: both">这是一只小猫咪……喵</p>
                </div>
          </div>
        </div>
     <div class="row">                  
                <div style="text-align: center" id="paging">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li><a href="#"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#"><span>4</span></a></li>
                            <li><a href="#"><span>5</span></a></li>
                            <li>
                                <a href="#" style="margin-right:0;" aria-label="Next">
                                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
</div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/indexSearchResult.js' %}" ></script>

{% endblock body %}
