{% extends 'base.html' %}
{% load staticfiles %}


{% block spec_css %}
<style type="text/css">
p{
margin:0;
}
#message{
clear:both; 
overflow:hidden;
padding-top:15px;
padding-left:20px;
}
.right{
padding-left:0; 
margin-top:5px;
border-bottom:1px solid #eee;
}
.right img{
float:left; 
margin-right:10px; 
padding-right:0; 
padding-left:2px;

}

.message{
position:relative;  
padding-left:0;
height:100px;
}
.date{
position:absolute;
bottom:0;
left:0;
color:#999;
}
.time{
position:absolute;
bottom:0;
left:80px;
color:#999;
}
.reply{
position:absolute;
bottom:0;
right:65px;
}
.delete{
position:absolute;
bottom:0;
right:15px;
color:#999;
}
</style>
{% endblock spec_css %}

{% block body %}

{% if messages %}
<div class="content_information col-md-60" id="message" style="">
					{% for message in messages %}
					<div class="" style="background-color: white; {% if forloop.counter0 != 0 %}margin-top: 4px;{% endif %}">
               <div style="padding: 20px; padding-bottom: 2px;">
							 <p>{{ message.content }}</p>
							 <p class="small">
							 <span style="margin-right: 20px;">{% if message.readed %}已读{% else %}未读{% endif %}</span>
							 <span style="margin-right: 30px;">来自 <a target="_blank" href="{% url 'ucenter' %}?uid={{ message.comment_from.id }}">{{ message.comment_from.name }}</a></span>
							 <span style="margin-right: 15px;">{{ message.pub_date|date:"Y-m-d" }}</span> <span style="margin-right: 30px;">{{ message.pub_date|date:"H:i" }}</span>
							 <span class="pull-right"><a target="_blank" href="{% url 'detail' %}?pid={{ message.product.id }}">回复</a></span>
							 </p>
               </div>
         </div>  
				 {% endfor %}
</div>

{% else %}
<h3 class="text-center">当前无站内信</h3>
{% endif %}

{% endblock body %}
