{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}个人信息{% endblock title %}
{% block spec_css %}
<style type="text/css">
#personal_information{
padding-top:20px;
padding-left:60px;
}
#back a{
color:#000;
}
#back a:hover{
text-decoration:none;
}
.btn{
background-color: orange;
color: white;
border-radius: 8px;
font-size: 10px;
padding: 3px 6px;
}

</style>
{% endblock spec_css %}

{% block body %}

{% if user %}
	 <div class="content_information" id="personal_information" style="height: auto; background-color: white; padding-top: 20px; padding-left: 60px; padding-bottom: 20px;">
				<p>用户：<span id="user_name">{{ user.name }}</span></p>
				<p>性别：<span id="user_sex">{{ user.get_sex_display }}</span></p>
				<p>邮箱：<span id="user_mail">{{ user.email }}</span></p>
				<p>校区：<span id="user_place">{{ user.get_campus_display }}</span></p>
				<p>学院：<span id="user_institute">{{ user.get_college_display }}</span></p>
				<p>入学年份：<span id="user_grade">{{ user.get_entry_year_display }}</span></p>
				<p>手机号：<span id="user_phone">{{ user.phone }}</span></p>
				<p>QQ：<span id="user_qq">{{ user.qq }}</span></p>
				<a href="{% url 'person_info_edit' %}" role="button" class="btn" style="background-color: orange; color: white; border-radius: 3px;">编辑个人信息</a>
		</div>
{% else %}
	<div><h2>请先登陆</h2></div>
{% endif %}

{% endblock body %}
