@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1465567188'); /* IE9*/
  src: url('iconfont.eot?t=1465567188#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465567188') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465567188') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465567188#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

}
#btn-login{
background-color:orange;
border-color:orange;
}
#otherMethods{
margin:0 auto; 
width:215px;
}
#otherMethods p{
padding:0;
text-align:center; 
margin-bottom:-5px;

}
#otherMethods a{
color:#333;
}
#otherMethods a:hover{
color:orange;
text-decoration:none;
}




         body{
            font-family: "微软雅黑";
            background-color: #f5f5f5;
            padding-top:50px;
        }
        .navbar{
         margin-bottom:0px;
         }
        #classifyTag{
            padding: 0px;
        }
        #classifyTag>.panel-body{
            color: black;
        }
        #basedOnCampus{
           border-right:1px solid #eee;
        }

			#classifyTag>.panel-body {

        }
        #classifyTag>.panel-heading{
            background-color: orange;
            border-width: 0px;
            color: #ffffff;
        }
        #classifyTag h4{
            text-decoration: none;
            color:#000;
            width:86px;
            margin:0;
           
        }
        #contentNav{
            border-bottom: 1px solid orange;
            padding:0;
            margin-top:15px;
            height:33px;
            
          

        }
        #contentNav li.active>a{
            color: #ffffff;
            background-color: orange;
            border-width: 0px;
          
            
        }
        #contentNav li{
     
            margin-bottom: 0px;
            padding:0;
            padding-right:-30px;
        }
        #contentNav a{
            color: #000000;
            border-bottom-width: 0px;
            padding:6px 15px;
           
         
     
        }
        #contentNav a:hover{
            background-color: #ffcc99;
        }
		.thumbnail{
		margin-bottom:0;
		padding:0;
		}
		.thum{
		margin-top:10px;
		padding:0 7px 0;
		
		}
	.thumbnail>img, .thumbnail a>img {

	 height:230px;

	}
        .product-price{
            font-weight: bold;
            color:#F30;
        }
        .product-tag{
            color: white;
            display: inline-block;
            background-color: orange;
            padding:0 2px;
            border-radius: 2px;
            text-align: center;
        }
        .product-info {
            font-size: small;
            overflow:hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
        }
        #carousel-example-generic img{
          width:100%;
          height:280px;
       }
       .lab{

         padding:0 3px;

         margin:1px 0 1px 0;

        }

       .panel-body p{
        padding-bottom:5px;
        text-align:center;
        width:40px;
        font-size:16px;
        margin:0 auto;
    
            }
       .lab{
         padding:0 3px;
        }

       .labtitle{
         height:27px;
         line-height:27px;
         }
       .lab a{
        color:#333;
        }
#tdc {
    position: fixed;
    top: 59%;
    right: 80px;
    display: none;
    z-index: 2000;
}
.cd-switcher li{
  list-style-type:none;
}
.input {
    
    height: 35px;
    border: 1px solid #999999;
    margin: 8px;
    position: relative;
    float: right;
    right: 20px;
    border:1px solid orange;
}
.cd-user-modal {
    position: fixed;
    top:-50px;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(52, 54, 66);
    opacity: 0.5;
    filter: opacity(50);
    z-index: 3;
    visibility:hidden;
    cursor: pointer;
/*    -webkit-transition: opacity 0.5s 0, visibility 0 0.5s;
    -o-transition: opacity 0.5s 0, visibility 0 0.5s;
    -moz-transition: opacity 0.5s 0, visibility 0 0.5s;
    transition: opacity 0.5s 0, visibility 0 0.5s;*/
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
/*    -webkit-transition: opacity 0.5s 0, visibility 0 0;
    -o-transition: opacity 0.5s 0, visibility 0 0;
    -moz-transition: opacity 0.5s 0, visibility 0 0;
    transition: opacity 0.5s 0, visibility 0 0;*/
}
.cd-user-modal.is-visible .cd-user-modal-container {
/*    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);*/
}
#bg{
background:#000; 
opacity: 0.8; 
height:9999px;
width:9999px;
position:absolute;
top:0px;
left:0px;
}
.cd-user-modal-container {
    
    z-index:9999;
    top: 15%;
    position:relative;
    max-width: 480px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;


/*    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;*/
}
.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-switcher {
    padding-left: 0;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #505260;
}
#cd-login, #cd-signup {
    display: none;


}
#cd-login.is-selected, #cd-signup.is-selected {
    display: block;
}
.img {
    height: 70%;
    width: 15%;
    position: relative;
    float: left;
    margin-left: 35px;
}
.checkbox {
    margin-left: 30px;
}
#rightbar {
    position: fixed;
    width: 50px;
    height: 310px;
    right:20px;
    top: 32%;
    z-index:1;
}
.rightBarChild a:hover {
    color:orange;
    text-decoration: none;
}
.rightBarChild {
    background: #FFFFFF;
    position: relative;
    width: 50px;
    height: 62px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-bottom: 2px;
    font-size: 5px;
    text-align: center;
}
.rightBarChild a{
    color: #989898;
}
.rbcImage {
    position: inherit;
    width: 62.5%;
    height: 50%;
    margin-top: 10px;
}
.pagination a{
width:44px;
height:35px;
margin:5px;
}
.pagination>li>a,.pagination>li>a:visited{
background-color:#ccc;
}
.pagination span:hover{
color:white;
}
.pagination span{
color:#999;
}
.pagination>li>a:hover{
background-color:orange;
}
.foot{
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    background-color: #f5f5f5;
    background-color:white;
    padding-top:30px;
    padding-bottom:30px;
}
footer a:link {
    color: #999999;
}
footer a:hover {
    color: #999999;
}
footer a:visited {
    color: #999999;
    text-decoration: none;
}
footer a:active {
    color: #999999;
}
