body{
  font-family: "微软雅黑";
  background-color: #f5f5f5;
  margin-top:50px;
}
.headlabel{
  background-color:white;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  
}

.headlabel li>a{
  color:#333;
}
.headlabel li.active a:link{
  background-color:orange;
  color:white;
}
.headlabel li.active a:visited{
  background-color:orange;
  color:white;
}
.headlabel li.active a:hover{
  background-color:orange;
  color:white;
}
.headlabel li.ac a{
  border:1px solid orange;

}
/*    .headlabel>li {
  background-color:white;
  opacity:1;
}*/
.headlabel li.Title a:hover{
  background-color:white;
  border:1px solid white;
}
.nav>li>a {
  padding:2px 2px;
  margin:5px 2px;
}
#contNav{
  border-bottom:1px solid orange;
  margin-top:10px;
}
  
li.default a{
  background-color:orange;
  border:1px solid orange;
  color:white;
}
li.default a:hover{
  background-color:orange;
  border:1px solid orange;
  color:white;
}
.dropdown-toggle{
  background-color:transparent; 
  color:#333;
 }    
.thumbnail{
  margin-bottom:0;
  padding:0;
}
.thum{
  margin-top:10px;
  padding:0 7px 0;
}
.product-info {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.product-price{
  font-weight: bold;
  color:#F30;
}
.product-tag{
  color: white;
  display: inline-block;
  background-color: orange;
  padding:0 2px;
  border-radius: 2px;
  text-align: center;
}
.pagination a{
  width:44px;
  height:35px;
  margin:5px;
}
.pagination>li>a,.pagination>li>a:visited{
  background-color:#ccc;
}
.pagination span:hover{
  color:white;
}
.pagination span{
  color:#999;
}
  
.pagination>li>a:hover{
  background-color:orange;

}

.foot{
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background-color: #f5f5f5;
}
footer a:link {
  color: #999999;
}
footer a:hover {
  color: #999999;
}
footer a:visited {
  color: #999999;
  text-decoration: none;
}
footer a:active {
  color: #999999;
}
