





        body{
            font-family: "微软雅黑";
            background-color: #f5f5f5;
            margin-top:50px;
        }
        #info p{
             margin:0 auto; 
             width:335px; 
             padding-bottom:10px;
             }
		#contentNav{
		border-bottom:1px solid orange;
		}
		
		#contentNav li a{
		background-color:orange;
		border:1px solid orange;
		color:white;
		}

		.thumbnail{
		margin-bottom:0;
		padding:0;
		}
		.thum{
		margin-top:10px;
		padding:0 7px 0;
		
		}
        .product-price{
            font-weight: bold;
            color:#F30;
        }
        .product-tag{
            color: white;
            display: inline-block;
            background-color: orange;
            padding:0 2px;
            border-radius: 2px;
            text-align: center;
        }
       .product-info{
font-size:small;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}
		.pagination a{
		width:44px;
		height:35px;
		margin:5px;
		}
		.pagination>li>a,.pagination>li>a:visited{
		background-color:#ccc;
		}
        .pagination span:hover{
		color:white;
		}
		.pagination span{
		color:#999;
		}
		
        .pagination>li>a:hover{
		background-color:orange;
      
		}

		.foot{
			margin-top: 10px;
			text-align: center;
			vertical-align: middle;
			border-radius: 2px;
			background-color: #f5f5f5;
		}
		footer a:link {
			color: #999999;
		}
		footer a:hover {
			color: #999999;
		}
		footer a:visited {
			color: #999999;
			text-decoration: none;
		}
		footer a:active {
			color: #999999;
		}
