{% load staticfiles %}
<div class="container">
  <div class="row">   
  <footer class="foot" style="text-align: center; color:#999999;">
    <div id="footer">
      <span class="copyright-text ">
      ©2016&nbsp;
      <a href="http://www.jluewu.com" target="_blank">吉大易物网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="http://www.miibeian.gov.cn/" target="_blank" rel="external nofollow">吉ICP备15002340</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="help.php">帮助</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="feedback.php">问题反馈</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="help.php#qid-6">联系我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="help.php#qid-1">关于</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">友情链接</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">站长统计</a>
      </span>
    </div>
  </footer>
  </div>
</div>
