{% load staticfiles %}
  <footer class="foot" style="text-align: center; color:#999999;">
    <div id="footer">
      <span class="copyright-text ">
      ©2016&nbsp;
			<a href="{% url 'index' %}" target="_blank">吉大易物网</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="http://www.miibeian.gov.cn/" target="_blank" rel="external nofollow">吉ICP备15002340</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">帮助</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">问题反馈</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">联系我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">关于</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://www.djangoproject.com/" target="_blank">友情链接</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="http://www.cnzz.com/stat/website.php?web_id=1255344168" target="_blank">站长统计</a>
      </span>
    </div>
  </footer>
