{% load staticfiles %}
<div id="rightbar" class=" col-md-3 col-sm-5 hidden-xs" style="margin-left:10px;"><!--右侧边栏-->
  <div class="rightBarChild  ">
					<a href="{% url 'publish' %}?action=sell">
    <img class="rbcImage" src="{% static 'image/右侧边栏图标/发布.png' %}" onmouseover="this.src='{% static "image/右侧边栏图标/发布(1).png" %}'" onmouseout="this.src='{% static "image/右侧边栏图标/发布.png" %}'" />
    <p>
      <b>发布</b>
    </p>
    </a>
  </div>
  <div class="rightBarChild " >
    <a href="#">
    <img class="rbcImage" src="{% static 'image/右侧边栏图标/分享.png' %}" onmouseover="this.src='{% static "image/右侧边栏图标/分享(1).png" %}'" onmouseout="this.src='{% static "image/右侧边栏图标/分享.png" %}'" />
    <p>
      <b>分享</b>
    </p>
    </a>
  </div>
  <div class="rightBarChild " >
					<a href="{% url 'about' %}?label=feedback">
    <img class="rbcImage" src="{% static 'image/右侧边栏图标/反馈.png' %}" onmouseover="this.src='{% static "image/右侧边栏图标/反馈(1).png" %}'" onmouseout="this.src='{% static "image/右侧边栏图标/反馈.png" %}'" />
    <p>
      <b>反馈</b>
    </p>
     </a>
  </div> 
  <div class="rightBarChild " id="stdc">
    <img class="rbcImage" src="{% static 'image/右侧边栏图标/二维码.jpg' %}" onmouseover="this.src='{% static "image/右侧边栏图标/二维码(1).png" %}'" onmouseout="this.src='{% static "image/右侧边栏图标/二维码.jpg" %}'" />
    <p>
      <b>二维码</b>
    </p>
  </div>
  <div class="rightBarChild">
					<a href="javascript:scroll(0,0)">
    <img class="rbcImage" src="{% static 'image/右侧边栏图标/返回顶部.png' %}" onmouseover="this.src='{% static "image/右侧边栏图标/返回顶部(1).png" %}'" onmouseout="this.src='{% static "image/右侧边栏图标/返回顶部.png" %}'" />
    <p>
      <b>顶部</b>
    </p>
    </a>
  </div>
  </div><!--右侧边栏结束-->
