{% load staticfiles %}
{% load static %}


{% if not user %}
<div>
				<h2>还未登陆，不需要退出</h2>
</div>
{% else %}
<div id="wrap" style="height: 200px; margin-top: 5%">
   
				<div class="content_information  " id="user_exit" style="width:350px; height: 200px; background-color: white; margin: 0 auto">

          <h4 style="text-align: center; padding-top: 52px;">确定退出登录？</h4>
          <div class="row bt" style="margin: 0 auto; width: 250px;">
					  <button id="bt1" class="btn btnl" role="button" style="background-color: #ccc; color: white; width: 80px;margin: 20px 20px;display: block; float: left;">是</button>
						<button id="bt2" class="btn btnl" role="button" style="background-color: orange; color: white; width: 80px;margin: 20px 20px;display: block; float: left;">否</button>
          </div>
          
    </div>
    </div>
<script>
$(function(){
			// Ensure logout
			$('#bt1').click(function(){
							var ajax = $.ajax({
											url: "/service/logout/",
											type: "GET",
											data: {
											}
							}).done(function(){
											$('#bt1',parent.document.location.href="{% url 'index' %}");
							});
			});

			// Cancel logout
			$('#bt2').click(function(){
							$('#bt2',parent.document.location.href="{% url 'index' %}");
			});

});
</script>
{% endif %}
