{% load staticfiles %}

<div class="content_information col-md-60" id="message" style="">
					{% for message in messages %}
					<div class="" style="background-color: white; {% if forloop.counter0 != 0 %}margin-top: 4px;{% endif %}">
               <div style="padding: 20px; padding-bottom: 2px;">
							 <p>{{ message.content }}</p>
							 <p class="small">
							 <span style="margin-right: 20px;">{% if message.readed %}已读{% else %}未读{% endif %}</span>
							 <span style="margin-right: 30px;">来自 <a target="_blank" href="{% url 'ucenter' %}?uid={{ message.comment_from.id }}">{{ message.comment_from.name }}</a></span>
							 <span style="margin-right: 15px;">{{ message.pub_date|date:"Y-m-d" }}</span> <span style="margin-right: 30px;">{{ message.pub_date|date:"H:i" }}</span>
							 <span class="pull-right"><a target="_blank" href="{% url 'detail' %}?pid={{ message.product.id }}">回复</a></span>
							 </p>
               </div>
         </div>
				 {% endfor %}
</div>

